{% extends 'base.html.twig' %}

{% block title %}Licence{% endblock %}

{% block body %}
    <h1>Licence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ licence.id }}</td>
            </tr>
            <tr>
                <th>Date_obtention</th>
                <td>{{ licence.dateObtention ? licence.dateObtention|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_moniteur_licence_index') }}">back to list</a>

    <a href="{{ path('app_moniteur_licence_edit', {'id': licence.id}) }}">edit</a>

    {{ include('moniteur/licence/_delete_form.html.twig') }}
{% endblock %}
